#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_auto_test

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_install:
	dh_auto_install
	echo "Removing embedded jquery javascript library..."
	rm debian/tmp/usr/share/doc/dbusmenu-qt/jquery.js

override_dh_makeshlibs:
	dh_makeshlibs -V 'libdbusmenu-qt2 (>=0.9.0)'

override_dh_strip:
	dh_strip --dbg-package=libdbusmenu-qt-dbg

override_dh_auto_test:
	echo "Skipping tests (can't test inside chroot)..."
